// -----------------------------------
// DrTeeth color definition
// -----------------------------------


global_menu = #171c23
secondary_menu = #b0bac5

type_color = #313a5b
type_color_sub = #677089


warning = #ee3b56
warning1 = #f594a3
good = #159463
regular = #535e81
