.vertical-column
  height: 100%

.float-left
  float: left

.grid-0
  width: 30px

.grid-1
  width: 60px

.grid-2
  width: 90px
  
.grid-3
  width: 180px
  
.grid-35
  width: 280px

.grid-4
  width: 360px

.grid-5
  width: 720px

.grid-6
  width: 1440px

.clear
  clear both

.clearfix
  &:before, &:after
    content ""
    display table
  &:after
    clear both
  zoom: 1
