<?xml version="1.0" encoding="UTF-8"?>
<response>
<statusCode>200</statusCode>
<statusText>Ok</statusText>
<data>
<testId>120810_KX_FRV</testId>
<summary>http://www.webpagetest.org/result/120810_KX_FRV/</summary>
<testUrl>http://www.lonelyplanet.com</testUrl>
<location>Dulles:Canary</location>
<connectivity>DSL</connectivity>
<bwDown>1500</bwDown>
<bwUp>384</bwUp>
<latency>50</latency>
<plr>0</plr>
<label>lp_home</label>
<completed>Fri, 10 Aug 2012 16:32:46 +0000</completed>
<runs>2</runs>
<average>
<firstView>
<loadTime>19118</loadTime>
<TTFB>929</TTFB>
<bytesIn>1565581</bytesIn>
<bytesInDoc>1459411</bytesInDoc>
<requests>104</requests>
<requestsDoc>92</requestsDoc>
<render>2542</render>
<fullyLoaded>21440</fullyLoaded>
<docTime>19118</docTime>
<domTime>0</domTime>
<titleTime>1057</titleTime>
<avgRun>1</avgRun>
</firstView>
</average>
<median>
<firstView>
<run>2</run>
<URL></URL>
<loadTime>8480</loadTime>
<TTFB>1004</TTFB>
<bytesOut>52110</bytesOut>
<bytesOutDoc>39032</bytesOutDoc>
<bytesIn>1547898</bytesIn>
<bytesInDoc>1336385</bytesInDoc>
<connections>0</connections>
<requests>103</requests>
<requestsDoc>82</requestsDoc>
<responses_200>0</responses_200>
<responses_404>0</responses_404>
<responses_other>0</responses_other>
<result>0</result>
<render>2619</render>
<fullyLoaded>12893</fullyLoaded>
<cached>0</cached>
<docTime>8480</docTime>
<domTime>0</domTime>
<score_cache>17</score_cache>
<score_cdn>82</score_cdn>
<score_gzip>86</score_gzip>
<score_cookies>-1</score_cookies>
<score_keep-alive>95</score_keep-alive>
<score_minify>-1</score_minify>
<score_combine>0</score_combine>
<score_compress>86</score_compress>
<score_etags>-1</score_etags>
<gzip_total>352514</gzip_total>
<gzip_savings>48097</gzip_savings>
<minify_total>0</minify_total>
<minify_savings>0</minify_savings>
<image_total>567166</image_total>
<image_savings>78352</image_savings>
<optimization_checked>1</optimization_checked>
<aft>0</aft>
<domElements>0</domElements>
<pageSpeedVersion>1.9</pageSpeedVersion>
<title>Lonely Planet Travel Guides and Travel Information</title>
<titleTime>1208</titleTime>
<loadEventStart>8467</loadEventStart>
<loadEventEnd>8468</loadEventEnd>
<domContentLoadedEventStart>7487</domContentLoadedEventStart>
<domContentLoadedEventEnd>7606</domContentLoadedEventEnd>
<visualComplete>0</visualComplete>
<browser_name>Google Chrome</browser_name>
<browser_version>23.0.1231.0</browser_version>
<date>1344616341</date>
<PageSpeedData>http://www.webpagetest.org/result/120810_KX_FRV/2_pagespeed.txt</PageSpeedData>
</firstView>
</median>
<run>
<id>1</id>
<firstView>
<results>
<URL></URL>
<loadTime>29756</loadTime>
<TTFB>853</TTFB>
<bytesOut>52446</bytesOut>
<bytesOutDoc>51600</bytesOutDoc>
<bytesIn>1583263</bytesIn>
<bytesInDoc>1582436</bytesInDoc>
<connections>0</connections>
<requests>104</requests>
<requestsDoc>102</requestsDoc>
<responses_200>0</responses_200>
<responses_404>0</responses_404>
<responses_other>0</responses_other>
<result>0</result>
<render>2464</render>
<fullyLoaded>29987</fullyLoaded>
<cached>0</cached>
<docTime>29756</docTime>
<domTime>0</domTime>
<score_cache>18</score_cache>
<score_cdn>82</score_cdn>
<score_gzip>86</score_gzip>
<score_cookies>-1</score_cookies>
<score_keep-alive>95</score_keep-alive>
<score_minify>-1</score_minify>
<score_combine>0</score_combine>
<score_compress>82</score_compress>
<score_etags>-1</score_etags>
<gzip_total>350538</gzip_total>
<gzip_savings>48097</gzip_savings>
<minify_total>0</minify_total>
<minify_savings>0</minify_savings>
<image_total>635505</image_total>
<image_savings>112090</image_savings>
<optimization_checked>1</optimization_checked>
<aft>0</aft>
<domElements>0</domElements>
<pageSpeedVersion>1.9</pageSpeedVersion>
<title>Lonely Planet Travel Guides and Travel Information</title>
<titleTime>905</titleTime>
<loadEventStart>29737</loadEventStart>
<loadEventEnd>29738</loadEventEnd>
<domContentLoadedEventStart>7470</domContentLoadedEventStart>
<domContentLoadedEventEnd>7553</domContentLoadedEventEnd>
<visualComplete>0</visualComplete>
<browser_name>Google Chrome</browser_name>
<browser_version>23.0.1231.0</browser_version>
<date>1344616295</date>
</results>
<pages>
<details>http://www.webpagetest.org/result/120810_KX_FRV/1/details/</details>
<checklist>http://www.webpagetest.org/result/120810_KX_FRV/1/performance_optimization/</checklist>
<breakdown>http://www.webpagetest.org/result/120810_KX_FRV/1/breakdown/</breakdown>
<domains>http://www.webpagetest.org/result/120810_KX_FRV/1/domains/</domains>
<screenShot>http://www.webpagetest.org/result/120810_KX_FRV/1/screen_shot/</screenShot>
</pages>
<thumbnails>
<waterfall>http://www.webpagetest.org/result/120810_KX_FRV/1_waterfall_thumb.png</waterfall>
<checklist>http://www.webpagetest.org/result/120810_KX_FRV/1_optimization_thumb.png</checklist>
<screenShot>http://www.webpagetest.org/result/120810_KX_FRV/1_screen_thumb.jpg</screenShot>
</thumbnails>
<images>
<waterfall>http://www.webpagetest.org/results/12/08/10/KX/FRV/1_waterfall.png</waterfall>
<connectionView>http://www.webpagetest.org/results/12/08/10/KX/FRV/1_connection.png</connectionView>
<checklist>http://www.webpagetest.org/results/12/08/10/KX/FRV/1_optimization.png</checklist>
<screenShot>http://www.webpagetest.org/results/12/08/10/KX/FRV/1_screen.jpg</screenShot>
</images>
<rawData><headers>http://www.webpagetest.org/results/12/08/10/KX/FRV/1_report.txt</headers>
<pageData>http://www.webpagetest.org/results/12/08/10/KX/FRV/1_IEWPG.txt</pageData>
<requestsData>http://www.webpagetest.org/results/12/08/10/KX/FRV/1_IEWTR.txt</requestsData>
<utilization>http://www.webpagetest.org/results/12/08/10/KX/FRV/1_progress.csv</utilization>
<PageSpeedData>http://www.webpagetest.org/result/120810_KX_FRV/1_pagespeed.txt</PageSpeedData>
</rawData>
</firstView>
</run>
<run>
<id>2</id>
<firstView>
<results>
<URL></URL>
<loadTime>8480</loadTime>
<TTFB>1004</TTFB>
<bytesOut>52110</bytesOut>
<bytesOutDoc>39032</bytesOutDoc>
<bytesIn>1547898</bytesIn>
<bytesInDoc>1336385</bytesInDoc>
<connections>0</connections>
<requests>103</requests>
<requestsDoc>82</requestsDoc>
<responses_200>0</responses_200>
<responses_404>0</responses_404>
<responses_other>0</responses_other>
<result>0</result>
<render>2619</render>
<fullyLoaded>12893</fullyLoaded>
<cached>0</cached>
<docTime>8480</docTime>
<domTime>0</domTime>
<score_cache>17</score_cache>
<score_cdn>82</score_cdn>
<score_gzip>86</score_gzip>
<score_cookies>-1</score_cookies>
<score_keep-alive>95</score_keep-alive>
<score_minify>-1</score_minify>
<score_combine>0</score_combine>
<score_compress>86</score_compress>
<score_etags>-1</score_etags>
<gzip_total>352514</gzip_total>
<gzip_savings>48097</gzip_savings>
<minify_total>0</minify_total>
<minify_savings>0</minify_savings>
<image_total>567166</image_total>
<image_savings>78352</image_savings>
<optimization_checked>1</optimization_checked>
<aft>0</aft>
<domElements>0</domElements>
<pageSpeedVersion>1.9</pageSpeedVersion>
<title>Lonely Planet Travel Guides and Travel Information</title>
<titleTime>1208</titleTime>
<loadEventStart>8467</loadEventStart>
<loadEventEnd>8468</loadEventEnd>
<domContentLoadedEventStart>7487</domContentLoadedEventStart>
<domContentLoadedEventEnd>7606</domContentLoadedEventEnd>
<visualComplete>0</visualComplete>
<browser_name>Google Chrome</browser_name>
<browser_version>23.0.1231.0</browser_version>
<date>1344616341</date>
</results>
<pages>
<details>http://www.webpagetest.org/result/120810_KX_FRV/2/details/</details>
<checklist>http://www.webpagetest.org/result/120810_KX_FRV/2/performance_optimization/</checklist>
<breakdown>http://www.webpagetest.org/result/120810_KX_FRV/2/breakdown/</breakdown>
<domains>http://www.webpagetest.org/result/120810_KX_FRV/2/domains/</domains>
<screenShot>http://www.webpagetest.org/result/120810_KX_FRV/2/screen_shot/</screenShot>
</pages>
<thumbnails>
<waterfall>http://www.webpagetest.org/result/120810_KX_FRV/2_waterfall_thumb.png</waterfall>
<checklist>http://www.webpagetest.org/result/120810_KX_FRV/2_optimization_thumb.png</checklist>
<screenShot>http://www.webpagetest.org/result/120810_KX_FRV/2_screen_thumb.jpg</screenShot>
</thumbnails>
<images>
<waterfall>http://www.webpagetest.org/results/12/08/10/KX/FRV/2_waterfall.png</waterfall>
<connectionView>http://www.webpagetest.org/results/12/08/10/KX/FRV/2_connection.png</connectionView>
<checklist>http://www.webpagetest.org/results/12/08/10/KX/FRV/2_optimization.png</checklist>
<screenShot>http://www.webpagetest.org/results/12/08/10/KX/FRV/2_screen.jpg</screenShot>
</images>
<rawData><headers>http://www.webpagetest.org/results/12/08/10/KX/FRV/2_report.txt</headers>
<pageData>http://www.webpagetest.org/results/12/08/10/KX/FRV/2_IEWPG.txt</pageData>
<requestsData>http://www.webpagetest.org/results/12/08/10/KX/FRV/2_IEWTR.txt</requestsData>
<utilization>http://www.webpagetest.org/results/12/08/10/KX/FRV/2_progress.csv</utilization>
<PageSpeedData>http://www.webpagetest.org/result/120810_KX_FRV/2_pagespeed.txt</PageSpeedData>
</rawData>
</firstView>
</run>
</data>
</response>
